<%- include("partials/header") %>
<div class="ui main text container segment">
	<div class="ui huge header">EDIT Candidiate</div>
	<form class="ui form" action="/admin/<%=candidate._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>NAME</label>
			<input type="text" name="admin[cname]" value="<%= candidate.cname %>">
		</div>
		<div class="field">
			<label>AGE</label>
		<input type="text" name="admin[cage]" value="<%= candidate.cage %>">
			</div>
		<div class="field">
			<label>IMAGE</label>
			<input type="text" name="admin[cimage]" value="<%= candidate.cimage %>">
		</div>
		<div class="field">
			<label>Party Name</label>
			<input type="text" name="admin[cparty]" value="<%= candidate.cparty%>">
			</div>		
		<div class="field">
			<label>INFO</label>
			<textarea  name="admin[cinfo]" ><%= candidate.cinfo%></textarea>
		</div>
		<input class="ui violet big  basic basic button" type="submit">
	</form>
</div>
<%- include("partials/footer") %>